PyQt5
httpx
aiohttp
requests
PyYAML~=6.0.2
numpy
pyqtgraph
pandas
Flask
loguru
tenacity
matplotlib
pyinstaller
scipy
kneed
scikit-learn
jenkspy
ruamel.yaml
deepdiff
PyQt-Fluent-Widgets
psycopg2
openai
markdown
pygments
PyQtWebEngine