PyQt5
httpx
aiohttp
requests
PyYAML~=6.0.2
numpy~=2.2.5
pyqtgraph~=0.13.7
pandas~=2.2.3
Flask~=3.1.0
loguru~=0.7.3
tenacity~=9.1.2
matplotlib~=3.10.1
pyinstaller
scipy
kneed
scikit-learn
jenkspy
ruamel.yaml
deepdiff
PyQt-Fluent-Widgets
psycopg2